/* - Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */

html {
  font-size: 10px;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(assets/background.jpg);
  background-size: cover;
  text-align: center;
  font-family: "Merriweather", serif;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
}
h1,
#message-el,
p {
  font-family: "Playfair Display", serif;
}

h1 {
  color: #ffd700;
  font-size: 5.2rem;
}

#message-el {
  color: #fffdd0;
  font-size: 3.6rem;
}
.start-btn,
.new-btn {
  background-color: #ffd700;
  color: #2c0509;
  padding: 1rem 2rem;
  font-size: 1.4rem;
  border: none;
  border-radius: 5px;
  margin-top: 2rem;
  cursor: pointer;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}
